.inner_page {
	background-color: #eee;
	border: 1px solid #ccc;
	position: relative;
}

.clock {
	font-weight: bold;
	font-size: 20pt;
	border: 5px solid #ccc;
	text-align: center;
	cursor: pointer;
	margin-bottom: 2px;
}
.clock1 {
	color: green;
}
.clock2 {
	color: red;
	background-color: #ffd7d7;
}

/*paginator classes*/
.page {
	text-align: center;
}
.page div.menuPage {
	display:inline;
	font-weight: normal;
}
.page a {
	text-decoration: none;
}
.page, .page a, .page span a {
	color: #464646;
	font-weight: bold;
}
.page span a:hover {
	color: #000;
}
.page span.current {
	color: #999;
	font-weight: bold;
}
.page img {
	margin: -3px 2px;
}

/*form classes*/
.error-message {
	color: #8A1F11;
	font-weight: bold;
	margin-left: 12em;
}
#UserUsername, #UserPassword, #UserPassword1, #UserPassword2,#UserEmail {
	width: 206px;
}
div.input {
	/*margin-bottom: 1em;*/
	float:left;
}
#UserLoginForm fieldset {
	width: 212px;
}
#UserGroupId {
	margin: 0;
} 
.formWrap label {
	margin: 0 1em 0 0;
	float: left;
	width: 11em;
	text-align: right; 
}
div.formWrap  {
	background-color: inherit;
	border:0;
	margin: 0;
	padding: 0 0 1em 0;
}
div.formWrap input.form-error {
	background-color: #FBC2C4;
}
.submit {
	margin: 1em 0 1em 13.5em;
}
#ajimg {
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}
.greenMessage{
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}

/*login*/


.signup {
	z-index: 10;
	border: 1px solid #ccc;
	background-color: #efe;	
	margin: 20px 0 0 0;
	background-color: #4A4A4A;
	border: 7px solid #ccc;
	/*opacity: 0.8;*/
	/*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);*/
	cursor: move; 
	height: 70px;
}
.innerSignup {
	background-color:#000000;
	padding:10px 10px 10px 10px;
	text-align:center;
}
.innerSignup a{
	/*color:#FF8080;*/
	color:red;
	font-weight: bold;
	text-align: center;
	text-decoration:none;
}

.innerSignup a:hover{
	color:red;
	text-decoration:underline;
}  




.capchaImg {
	margin: 0 0 1em 12em;
}
#UserCaptcha {
	width: 116px;	
}
.capchaImg p img {
	border: none;
	margin: 0;
	cursor: pointer;
}
.capReset {
	float: left;
	margin: 19px 19px 0 19px;
	position:relative;
}
.capReset span {
	color:#ccc;
	font-size:smaller;
	font-weight:bold;
	left:-5px;
	position:absolute;
	top:25px;
	width:150px;
}

#capImg {
	cursor: pointer;
}
.capPlace {
	/*background-image: url(../img/bg.jpg);*/
	background-color: #eee;
	border: 1px solid #7f9db9;
	
	width: 120px;
	height: 60px;
	float: left;
}

/*work -rest*/
.chessKnob {
	margin: 0;
	font-size: 200%;
	text-align: center;
	position: relative;
}
.work{
	color: green;
	position: relative;
}
.work span {
	cursor: pointer;
	font-size: 85%;
}
.minusWork {
	position: absolute;
	top: 5px;
	left: 10px;
	height: 15px;
	width: 20px;
	border: 2px solid #ccc;
	cursor: pointer;
	line-height: 0.55;
}
.rest{
	color: red;
	position: relative;
}
.rest span {
	cursor: pointer;
	font-size: 100%;
}
.minusRest {
	position: absolute;
	top: 5px;
	right: 12px;
	height: 15px;
	width: 20px;
	border: 2px solid #ccc;
	cursor: pointer;
	line-height: 0.55;
}
.intervals h2 {
	margin-bottom: 0;
}
.intervals {
	margin-top: -10px;
}
/*--- Projects --*/
.projectTitle {
  /*position:absolute;
  top: 10px;
  left: 190px;
  */
	font-weight: bold;
	font-size: 10pt;
	cursor: pointer;
}
.projectMain {
	background-color:white;
	display:none;
	border: 3px solid #ccc;
}
.myProject {
    border: 3px solid gray;
    font-weight: bold;
}
.projectMainClose, .myProject {
    cursor:pointer;
}
.projectWrapper{
   position:absolute;
    top: 118px;
    
}
.topChessWrapper {
    position:relative;
    /*height: 30px;*/
}
.projectsNameWrpapper {
	margin: 10px;
}
.projectsNameWrpapper div {
	text-align:center;
}
.projectList {
	margin: 0 5px 5px 5px;
	padding: 1px 5px 0 5px;
	border-bottom: 1px solid #D5D5D5;
}
.projectCreated {
	font-size: 11px;
	font-weight: 500;
	color: #999;
}
.projectPreview {
	color: green;
	font-size: larger;
	font-weight: bold;
	background-color: #D2FFE9;
	text-align:center;
	border: 3px solid grey;
	display: inline;
	padding: 0 20px;
}
.projectActions a {
	text-decoration: none;
	font-weight: bold;
	color: grey;
}
.timerControl div {
	/*display: inline;*/
}
.stopStart {
	position:absolute;
	left: 275px;
	top: 5px;
	z-index:10;
}
.stopStart div {
	display: inline;
}
.stopInterval {
	color: red;
	font-weight: bold;
}
.startInterval {
	color: green;
	font-weight: bold;
}
.newProject {
	font-weight: bold;
	margin: 5px 0 0 0;
}
.newProject a {
	text-decoration:none;
	color: gray;
}
.newProject a:hover {
	color: #000;
}
.projects .input {
	float: none;
}
.projects .submit {
	margin: 5px;
}
.newProjectWrapper {
	border: 2px solid gray;
	padding: 5px;
	margin: 5px;
	display:none;
}