.inner_page {
	background-color: #eee;
	border: 1px solid #ccc;
	position: relative;
}

.clock {
	font-weight: bold;
	font-size: 20pt;
	border: 5px solid #ccc;
	text-align: center;
	cursor: pointer;
	margin-bottom: 2px;
}
.clock1 {
	color: green;
}
.clock2 {
	color: red;
	background-color: #ffd7d7;
}




/*form classes*/
.error-message {
	color: #8A1F11;
	font-weight: bold;
	margin-left: 12em;
}
#UserUsername, #UserPassword, #UserPassword1, #UserPassword2,#UserEmail {
	width: 206px;
}
div.input {
	/*margin-bottom: 1em;*/
	float:left;
}
#UserLoginForm fieldset {
	width: 212px;
}
#UserGroupId {
	margin: 0;
} 
.formWrap label {
	margin: 0 1em 0 0;
	float: left;
	width: 11em;
	text-align: right; 
}
div.formWrap  {
	background-color: inherit;
	border:0;
	margin: 0;
	padding: 0 0 1em 0;
}
div.formWrap input.form-error {
	background-color: #FBC2C4;
}
.submit {
	margin: 1em 0 1em 13.5em;
}
#ajimg {
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}
.greenMessage{
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}

/*login*/


.signup {
	z-index: 10;
	border: 1px solid #ccc;
	background-color: #efe;	
	margin: 20px 0 0 0;
	background-color: #4A4A4A;
	border: 7px solid #ccc;
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	cursor: move; 
	height: 70px;
}
.innerSignup {
	background-color:#000000;
	padding:10px 10px 10px 10px;
	text-align:center;
}
.innerSignup a{
	/*color:#FF8080;*/
	color:red;
	font-weight: bold;
	text-align: center;
	text-decoration:none;
}

.innerSignup a:hover{
	color:red;
	text-decoration:underline;
}  




.capchaImg {
	margin: 0 0 1em 12em;
}
#UserCaptcha {
	width: 116px;	
}
.capchaImg p img {
	border: none;
	margin: 0;
	cursor: pointer;
}
.capReset {
	float: left;
	margin: 19px 19px 0 19px;
	position:relative;
}
.capReset span {
	color:grey;
	font-size:smaller;
	font-weight:bold;
	left:-5px;
	position:absolute;
	top:25px;
	width:150px;
}

#capImg {
	cursor: pointer;
}
.capPlace {
	/*background-image: url(../img/bg.jpg);*/
	background-color: #eee;
	border: 1px solid #7f9db9;
	
	width: 120px;
	height: 60px;
	float: left;
}

/*work -rest*/
.chessKnob {
	margin: 0;
	font-size: 15pt;
	text-align: center;
}
.work{
	color: green;
	position: relative;
}
.work span {
	cursor: pointer;
}
.plusWork {
	position: absolute;
	top: 5px;
	left: 10px;
	height: 15px;
	width: 20px;
	border: 2px solid #ccc;
	cursor: pointer;
	line-height: 0.75;
}
.rest{
	color: red;
	position: relative;
}
.rest span {
	cursor: pointer;
}
.minusRest {
	position: absolute;
	top: 5px;
	right: 12px;
	height: 15px;
	width: 20px;
	border: 2px solid #ccc;
	cursor: pointer;
	line-height: 0.55;
}
.intervals h2 {
	margin-bottom: 0;
}