.inner_page {
	background-color: #eee;
	border: 1px solid #ccc;
	position: relative;
}

.clock {
	font-weight: bold;
	font-size: 20pt;
	border: 5px solid #ccc;
	text-align: center;
	cursor: pointer;
	margin-bottom: 2px;
	position:relative;
	
}
.clockBackground{
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
	opacity: 0.17;
	filter: alpha(opacity = 17);
	top:0;
	left:0
}
.clock1 {
	color: green;
}
.clock2 {
	color: red;
	/*background-color: #ffd7d7;*/
}

/*paginator classes*/
.page {
	text-align: center;
}
.page div.menuPage {
	display:inline;
	font-weight: normal;
}
.page a {
	text-decoration: none;
}
.page, .page a, .page span a {
	color: #464646;
	font-weight: bold;
}
.page span a:hover {
	color: #000;
}
.page span.current {
	color: #999;
	font-weight: bold;
}
.page img {
	margin: -3px 2px;
}

/*work -rest*/
.chessKnob {
	margin: 0;
	font-size: 200%;
	text-align: center;
	position: relative;
	margin: 0 0 2px 0;
}

.work{
	color: green;
	position: relative;
}
.work span {
	cursor: pointer;
	font-size: 85%;
	border-bottom: 8px solid #ccc;
}
.rest{
	color: red;
	position: relative;
}
.rest span {
	cursor: pointer;
	font-size: 100%;
	border-bottom: 3px solid #ccc;
}

/* minus*/
.minusWork {
	position: absolute;
	top: 50px;
	left: -9px;
	height: 24px;
	width: 24px;
	background-image: url(../img/icons/round_remove.png);
	cursor: pointer;
	line-height: 0.55;
	z-index:2;
}
.minusWork:hover {
	background-image: url(../img/icons/round_remove_green.png);
}
.minusWorkUndo {
	position: absolute;
	top: 50px;
	left: 20px;
	height: 24px;
	width: 24px;
	background-image: url(../img/icons/undo_1.png);
	cursor: pointer;
	line-height: 0.55;
	display:none;
	z-index:2;
}
.minusWorkUndo:hover {
	background-image: url(../img/icons/undo_3.png);
}
.minusRest {
	position: absolute;
	background-image: url(../img/icons/round_remove.png);
	top: 50px;
	right: -10px;
	height: 24px;
	width: 24px;
	cursor: pointer;
	line-height: 0.55;
	z-index:2;
}
.minusRest:hover {
	background-image: url(../img/icons/round_remove_red.png);
}
.minusRestUndo {
	position: absolute;
	background-image: url(../img/icons/undo_1.png);
	top: 50px;
	right: 20px;
	height: 24px;
	width: 24px;
	cursor: pointer;
	line-height: 0.55;
	display:none;
	z-index:2;
}
.minusRestUndo:hover {
	background-image: url(../img/icons/undo_2.png);
}
.minusRestData {
	background-color:#FFD2D2;
	border:2px solid silver;
	font-size:smaller;
	line-height:1;
	padding:2px 4px;
	position:absolute;
	right:0;
	top:7px;
	z-index:2;
}

.grafWrapper {
}



.intervals h2 {
	margin-bottom: 0;
}
.intervals {
	margin-top: -10px;
}
/*--- Projects --*/
.projectTitle {
  /*position:absolute;
  top: 10px;
  left: 190px;
  */
	font-weight: bold;
	font-size: 10pt;
	cursor: pointer;
}
.projectMain {
	background-color:white;
	display:none;
	border: 3px solid #ccc;
}
.myProject {
    border: 3px solid gray;
    font-weight: bold;
}
.myProject:hover {
    border: 3px solid silver;
    font-weight: bold;
}
.projectMainClose, .myProject {
    cursor:pointer;
}
.projectWrapper{
	position:absolute;
	top: 112px;
	z-index:10;
}
.topChessWrapper {
    position:relative;
    /*height: 30px;*/
}
.projectsNameWrpapper {
	margin: 10px;
}
.projectsNameWrpapper div {
	text-align:center;
}
.projectList {
	margin: 0 5px 5px 5px;
	padding: 1px 5px 0 5px;
	border-bottom: 1px solid #D5D5D5;
}
.projectCreated {
	font-size: 11px;
	font-weight: 500;
	color: #999;
}
.projectPreview {
	color: green;
	font-size: larger;
	font-weight: bold;
	background-color: #D2FFE9;
	text-align:center;
	border: 3px solid grey;
	display: inline;
	padding: 0 20px;
}
.projectActions a {
	
	text-decoration: none;
	font-weight: bold;
	color: grey;
}
.projectSelect {
	color:teal;
	font-weight:bold;
	margin:5px 0 0 10px;
}



.timerControl div {
	/*display: inline;*/
}
.stopStart {
	position:absolute;
	left: 303px;
	top: 50px;
	z-index:2;
}
.stopStart div {
	/*display: inline;*/
}
.stopInterval {
	/*color: red;
	font-weight: bold;*/
	display:none;
	background:transparent url(../img/icons/stop_2.png) no-repeat scroll 0 0;
	height:24px;
	line-height:0.55;
	position:absolute;
	width:24px;
	cursor: pointer;
	color:transparent;
}
.stopInterval:hover {
	background:transparent url(../img/icons/stop_1.png) no-repeat scroll 0 0;
}
.startInterval {
	/*color: green;
	font-weight: bold;*/
	background:transparent url(../img/icons/go_2.png) no-repeat scroll 0 0;
	height:24px;
	line-height:0.55;
	position:absolute;
	width:24px;
	cursor: pointer;
	color:transparent;
	z-index:2;
}
.startInterval:hover {
	background:transparent url(../img/icons/go_1.png) no-repeat scroll 0 0;
}
.graf{
	position:relative;
	height: 10px;
	border: 3px solid #ccc;
	margin: 2px 0px 2px 2px;
}
.grafWrapper div.graf {
	margin-right: 1px;
}
.interval {
	margin: 0;
	height: 10px;
	float: left;
	opacity: 0.65;
	filter: alpha(opacity = 65);
}

.grafConnector {
	background:transparent url(../img/icons/connector2.png) no-repeat scroll 0 0;
	height:10px;
	left:67px;
	position:absolute;
	width:14px;
	z-index:2;
}
.grafConnector1 {
	background:transparent url(../img/icons/connector2.png) no-repeat scroll 0 0;
	height:10px;
	left:-10px;
	position:absolute;
	width:14px;
	z-index:2;
}


.newProject {
	font-weight: bold;
	margin: 5px 0 0 0;
}
.newProject a {
	text-decoration:none;
	color: gray;
}
.newProject a:hover {
	color: #000;
}
.projects .input {
	float: none;
}
.projects .submit {
	margin: 5px;
}
.newProjectWrapper {
	border: 2px solid gray;
	padding: 5px;
	margin: 5px;
}
.colorPicker {
	border: 2px groove gray;
	text-align: center;
	font-size: smaller;
	padding: 2px;
	cursor:pointer;
}
.colorPickerMore{
	cursor:pointer;
	
}
.projectDataEdit{
}
.projectDataEdit .submit {
	margin: 5px;
}